body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}
#lampimage {
    width: 100px;
    height: 100px;
    transition: transfrom 0.2s;
}
#lampimage :hover {
    transform: scale(1.1);
}
button {
    padding: 10px 10px;
    font-size: 16;
    margin: 10px;
}